* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

#image-preview {
  align-self: center;
}

.image-selector {
  margin-right: 0.5rem;
}

.flex-spacer {
  flex: 1 1 auto;
}

footer {
  padding: 0.5rem 2rem;
  width: 100%;
}

.history-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#image-title {
  text-align: center;
}

.image-wrapper {
  max-width: 1024px;
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}

.container {
  height: 100vh;
}
